<html>
<head>
<title>NATIONAL IDENTIFICATION AUTHORITY</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
<body>
    <div class="loginbox">
    <img src="static/avatar.png" class="avatar">
        <h1>NATIONAL IDENTIFICATION AUTHORITY</h1>
        <form  action="">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter Email" required>

           <!--  <p>Name</p>
            <input type="text" name="" placeholder="Enter Name"> -->
            <input type="submit" name="" value="Search">
            <!-- <a href="#">Lost your password?</a><br> -->
           <!--  <a href="#">Don't have an account?</a> -->
        </form>
        
    </div>

</body>
</head>
</html>
